gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

# See https://www.dartlang.org/tools/private-files.html

# Files and directories created by pub
.packages
.pub/
.dart_tool/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# From flutter create
.DS_Store
.atom/
.idea
ios/.generated/
packages
pubspec.lock
.flutter-plugins

coverage/lcov.info
GoogleService-Info.plist
android/*/google-services.json